body{
    color:khaki;
    background: gray;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb burlywood;
    padding: 30px;
    font-size: 35px;
}


.chamada {

    background: rgb(184, 156, 213);
    padding-bottom: 84px;
    padding-top: 84px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 6%;
}

h1{
    font-size: 40px;
}
img{
    height: 200px;
}

    .categoria-videos {
        display:flex;
        overflow-x: auto;
        gap:20px
    }

    .categoria s{
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 50px;
    }

.categoria-videos img {
  opacity: 0.6;

}

.categoria-videos img:hover{
    opacity: 1.0;
    border: 5px solid green
}

.categoria h2 {
    color: rgb(42, 122, 228)
}


